<launch>
    <arg name="init_position" default="[-2, 3, 1.57]" />
    <arg name="goal_position" default="[0, 10]" />
    <node name="planner" pkg="navigation_pkg" type="planner.py" output="screen">
        <rosparam param="init_position" subst_value="True">$(arg init_position)</rosparam>
        <rosparam param="goal_position" subst_value="True">$(arg goal_position)</rosparam>
    </node>
</launch>